[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
via_ir = true

[rpc_endpoints]
sepolia = "https://sepolia.infura.io/v3/${INFURA_KEY}"
base_sepolia = "https://sepolia.base.org"
reactive = "https://lasna-rpc.rnk.dev"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
